.button-option{
    figure {
        img {         
            width: 30px;
            height: 28px;
            border: 1px solid #9AB0B0;
            border-radius: 3px;
            padding: 5px;
        }
    }
}