.body-section{
    display: flex;
    justify-content: center;

    .radio-buttons-options{
        .textaling {
            margin-bottom: 9px;
            padding-left: 15px;
        }
    }
}

.body {
    overflow-y:scroll ;
    width: 90%;
    height: 90vh;
    border: 1px solid blue;
}