.arrow-option{
    figure {
        margin: 0;
        img {         
            width: 20px;
            height: 20px;
            border: 1px solid #9AB0B0;
            border-radius: 3px;
            padding: 10px;
        }
    }
}